.card {
  text-align: center;
  padding: 0;
}

.title {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.content {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: bold;
}

.description {
  text-align: justify;
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}