@import '../../../scss/package';

.button {
  padding: .8rem 3.5rem;
  border: none;
  border-top-left-radius: $falling-border-radius;
  border-bottom-right-radius: $falling-border-radius;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2rem;
  transition: opacity .3s, background-color .3s;

  &:disabled {
    background-color: var(--accent);
  }

  &:not(:disabled):hover {
    opacity: $transition-opacity;
    cursor: pointer;
  }
}

.small {
  font-size: .8rem;
  padding: .5rem 0;
}


.large {
  font-size: 1.6rem;
}

.round {
  padding: 0 !important;
  border-radius: 100%;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round.large {
  width: 3.2rem;
  height: 3.2rem;
}

.round.small {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

.primary {
  background-color: var(--primary);
  color: var(--secondary-font);
}

.primaryLight {
  background-color: var(--primary);
  color: var(--light);
}

.blank {
  background-color: var(--background);
  color: var(--primary-font);
}

.danger {
  background-color: var(--danger);
  color: var(--secondary-font);
}

.success {
  background-color: var(--success);
  color: var(--secondary-font);
}

.accent {
  background-color: var(--accent);
  color: var(--secondary-font);
}

.facebook {
  background-color: $facebook;
  color: var(--light);
}


@include media-breakpoint-down(xs) {
  .button {
    padding: .5rem 2rem;
    font-size: 1rem;
  }
}