@import '../../../scss/package';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.card {
  text-align: center;
  font-weight: 300;
}

.inputsWrapper {
  flex-grow: 1;
  margin-left: 2rem;
  padding-top: 2rem;
}

@include media-breakpoint-up(md) {
  .wrapper {
    flex-direction: row;
  }

  .card {
    min-width: 250px;
    width: 42%;
  }
}