@import '../../../scss/package';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.card {
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputsWrapper {
  flex-grow: 1;
  padding-top: 1.5rem;
}

.paragraph {
  margin-bottom: 0;
}

@include media-breakpoint-only(sm) {
  .inputsWrapper {
    form {
      width: 400px;
    }
  }
}

@include media-breakpoint-up(sm) {
  .inputsWrapper {
    align-self: center;
  }
}

@include media-breakpoint-up(md) {
  .wrapper {
    flex-direction: row;
  }

  .inputsWrapper {
    margin-left: 2rem;
    padding-top: 1rem;
  }

  .card {
    min-width: 250px;
    width: 42%;
  }
}