@import '../../../scss/package';


.logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;

  .logo {
    width: auto;
    height: 100%;
  }

  .typographyLogo {
    margin-left: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .logo {
    .typographyLogo {
      margin-left: 3rem;
    }
  }
}