@import '../../../scss/package';


.logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;

  svg {
    width: auto;
    height: 100%;
  }

  span {
    margin-left: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .logo {
    span {
      margin-left: 3rem;
    }
  }
}