@import '../../scss/package';

.wrapper {
  display: flex;
}

.unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value, .separator {
  font-size: 8rem;
  font-weight: 300;

  @include media-breakpoint-down(sm) {
    font-size: 6rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 15vw;
  }

}

.caption * {
  text-transform: lowercase;
}

