@import '../../scss/package';


.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem 70px;
  height: 100%;
  overflow-y: auto;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 0 0 1rem;
}

.iconList {
  margin-top: 0;
}

@include media-breakpoint-up(lg) {
  .mainWrapper {
    flex-direction: row;
  }

  .content {
    padding: 0;
  }

  .sideMenu {
    width: 200px;
  }

  .wrapper {
    left: 60px;
    padding: 0 2rem;
    width: calc(100% - 60px);
  }
}

