.dataContainer {
  flex-wrap: wrap;
  justify-content: space-evenly;

  > * {
    max-width: 300px;
    margin: 2rem 1rem;
  }
}

.chartContainer {
  margin-top: 4rem;
}

.noQuartiles {
  text-align: center;
}