@import '../../../../scss/package';

.wrapper {
  display: flex;
  align-items: center;
  height: 500px;
  max-width: 1300px !important;

  .text {
    text-align: justify;
    width: 40%;
    line-height: 140%;
    font-size: 1.2rem;

    p {
      margin: 2rem 0;

    }
  }

  .imageWrapper {
    margin-left: 2rem;
    width: calc(60% - 2rem);
    height: 100%;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@include media-breakpoint-down(md)
{
  .wrapper {
    flex-wrap: wrap;
    height: auto;

    .text {
      width: 100%;
    }

    .imageWrapper {
      margin: 1rem 0 0;
      width: 100%;

    }
  }

}
