@import '../../scss/package';


.list {
  @include list-clear();
}

.item {
  padding: .5rem 0;
  transition: opacity .3s;
  color: var(--primary-font);
  display: flex;
  align-items: center;

  button {
    margin-right: 1rem;
  }

  &:hover {
    opacity: $transition-opacity;
  }
}