.uppercase {
  text-transform: uppercase;
}

.muted {
  color: var(--accent);
}

.center {
  text-align: center;
}

.medium {
  font-size: 1.5rem;
}

.small {
  font-size: 0.8rem;
}

.noMargin {
  margin: 0;
}

.weightNormal {
  font-weight: 400;
}

.weightLight {
  font-weight: 300;
}

.subtleSpacing {
  letter-spacing: 1px;
}