@import '../../../scss/package';

.uppercase {
  text-transform: uppercase;
}

.muted {
  color: var(--accent);
}

.center {
  text-align: center;
}

.medium {
  font-size: 1.8rem;

  @include media-breakpoint-down(xs) {
    font-size: 1.5rem;
  }
}

.small {
  font-size: 0.9rem;
}

.noMargin {
  margin: 0;
}

.weightNormal {
  font-weight: 400;
}

.weightLight {
  font-weight: 300;
}

.weightBold {
  font-weight: bold;
}

.subtleSpacing {
  letter-spacing: 1px;
}

.primary {
  color: var(--primary);
}

.lowercase {
  text-transform: lowercase;
}