@import '../../../scss/package';

.group {
  input, textarea {
    border: none;
    border-bottom: 1px solid var(--accent);
    transition: border-color .3s;
    width: 100%;
    height: 2rem;
    margin-top: .55rem;
    padding: 0 $form-padding-x;

    &:focus {
      border-color: var(--primary);
      outline: none;
    }
  }

  label {
    position: absolute;
    transform: translate($form-padding-x, 1rem);
    color: var(--accent);
    transition: transform .3s;
    transform-origin: 0 0;
  }
}


.active {
  label {
    transform: translate($form-padding-x, 0rem) scale(.8);
  }
}

.hasErrors {
  input, textarea {
    border-color: var(--danger);
  }
}

/*
  TODO: Take care about errors displaying
*/
.color {
  input {
    opacity: 0;
  }

  input:focus + .colorCode {
    border-bottom-color: var(--primary);
  }

  .colorPill {
    pointer-events: none;
    z-index: 1;
    height: 10px;
    width: 30px;
    position: absolute;
    right: $form-padding-x;
    top: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
  }

  .colorCode {
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 1.1rem;
    padding-left: $form-padding-x;
    border-bottom: 1px solid var(--accent);
    width: 100%;
    height: 100%;
    transition: border-bottom-color .3s;
  }
}

.hasIcon {
  input, textarea {
    padding-right: 1.6rem;
  }

  .icon {
    pointer-events: none;
    position: absolute;
    bottom: .5rem;
    right: $form-padding-x;
    color: var(--accent);
    background: var(--background);
  }

}



