@import '../../scss/package';

@keyframes jumbotronAnimation {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.jumbotron {
  margin-top: 15rem;
  text-align: center;
  animation: jumbotronAnimation .5s .5s backwards;

  h2 {
    font-weight: 300;
    font-size: 1.2em;
  }
}

@include media-breakpoint-up(sm) {
  .jumbotron {
    margin-top: 7rem;
    text-align: center;

    h2 {
      font-weight: 300;
      font-size: 2em;
    }
  }
}

@include media-breakpoint-up(md) {
  .jumbotron {
    text-align: left;
    margin-top: 16rem;

    h2 {
      font-size: 3rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .jumbotron {
    h2 {
      font-size: 4rem;
    }
  }
}