$borderSize: 6px;

.wrapper {
  --counter: 0;
  --transitionTime: 200ms;
  width: 40vw;
  height: 40vw;
  position: fixed;
  left: 45vw;
  top: 15vh;
  border: $borderSize solid var(--accent);
  border-radius: 100%;
  opacity: .25;
}

.handHours, .handMinutes {
  position: absolute;
  width: $borderSize;
  left: calc(50% - #{$borderSize});
  transition: transform var(--transitionTime);
  transition-timing-function: linear;
  will-change: transform;
  background: var(--accent);
  transform-origin: 50% 100%;
}

.handHours {
  height: 20%;
  top: 30%;
  transform: rotate(calc(var(--counter) * 2.5deg)) translate3d(0, 0, 0);
}

.handMinutes {
  height: 40%;
  top: 10%;
  transform: rotate(calc(var(--counter) * 30deg)) translate3d(0, 0, 0);
}