@import '../../../../scss/package';

.row {
  grid-template-columns: repeat(6, 1fr);
}

.name {
  display: flex;


  .pills {
    margin-right: 8px;
    display: flex;

    > * {
      margin-right: 3px;
    }
  }
}

