@import '../../../../scss/package';

.row {
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 2fr) 1fr 1fr 1fr 140px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr 1fr 140px;

    @include hide-child(2);
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 2fr 1fr 1fr 1fr 140px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 200px 140px;

    @include hide-child(4);
    @include hide-child(5);
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr 140px;

    @include hide-child(3);
  }

  @include media-breakpoint-down(xxs) {
    grid-template-columns: 1fr;

    @include hide-child(6);
  }
}

.name {
  display: flex;


  .pills {
    margin-right: 8px;
    display: flex;

    > * {
      margin-right: 3px;
    }
  }
}

