@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700&display=swap&subset=latin-ext');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --primary: #8C5DD9;
  --secondary: #ffffff;
  --accent: #C2C2C2;
  --danger: #D95D5D;
  --success: #5DD99D;
  --primary-font: #000000;
  --secondary-font: #ffffff;

}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-font);
}