$light: (
        "primary": #8C5DD9,
        "background": #ffffff,
        "accent": #C2C2C2,
        "danger": #D95D5D,
        "success": #5DD99D,
        "primary-font": #000000,
        "secondary-font": #ffffff,
);

$dark: (
        "primary": #8C5DD9,
        "background": #000000,
        "accent": #C2C2C2,
        "danger": #D95D5D,
        "success": #5DD99D,
        "primary-font": #ffffff,
        "secondary-font": #000000,
);

$main-font: 'Lato', sans-serif;

$falling-border-radius: 5rem;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);