$themes: (
        "light": (
                "primary": #8C5DD9,
                "opaque-primary": rgba(140, 93, 217, .25),
                "background": #ffffff,
                "accent": #C2C2C2,
                "danger": #D95D5D,
                "success": #5DD99D,
                "primary-font": #000000,
                "secondary-font": #ffffff,
                "light": #ffffff,
                "dark": #000000,
        ),
        "dark": (
                "primary": #8C5DD9,
                "opaque-primary": rgba(140, 93, 217, .25),
                "background": #1f1f1f,
                "accent": #959595,
                "danger": #D95D5D,
                "success": #5DD99D,
                "primary-font": #ffffff,
                "secondary-font": #1f1f1f,
                "light": #ffffff,
                "dark": #000000,
        ),
);


$main-font: 'Lato', sans-serif;

$falling-border-radius: 5rem;

$grid-breakpoints: (
        xxs: 0,
        xs: 320px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$transition-opacity: .6;

$form-padding-x: .5rem;

$facebook: #3b5998;