@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700&display=swap&subset=latin-ext');


@import 'package';
@import 'toastify';
@import 'scroll';
@import 'recharts';


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $themeName, $colorsMap in $themes {
  body[data-theme="#{$themeName}"] {
    @each $propertyName, $color in $colorsMap {
      --#{$propertyName}: #{$color};
    }
  }
}

body {
  font-family: $main-font;
  color: var(--primary-font);
  background-color: var(--background);
}

.small-muted-link {
  color: var(--accent);
  font-size: .8rem;
}