@import '../../scss/package';


.wrapper {
  padding: 0 1rem;
}


@include media-breakpoint-up(sm) {
  .wrapper {
    padding: 0 2rem;
  }
}

@include media-breakpoint-up(md) {
  .wrapper {
    padding: 0 4rem;
  }
}