@import '../../../scss/package';

.typographyLogo {
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

@include media-breakpoint-up(md) {
  .typographyLogo {
    font-size: 2.8rem;
  }
}